.wrapper {
  display: flex;
  align-items: center;
  padding: var(--mantine-spacing-xl);
  padding-bottom: var(--mantine-spacing-xl);
  border-radius: var(--mantine-radius-md);
  background: rgba( 255, 255, 255, 0.4 );
  box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.37 );
  backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 0px solid rgba( 255, 255, 255, 0.18 );

  -webkit-backdrop-filter: blur( 20px );

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column-reverse;
    padding: var(--mantine-spacing-xl);
  }
  
  @media only screen and (min-width: $mantine-breakpoint-sm) and (max-width: $mantine-breakpoint-md) {
    padding: var(--mantine-spacing-xl);
    padding-bottom: 6vw;
    width: 90vw;
  }
}

.body {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  justify-content: center;
  max-width: 50vw;

  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 70vw;
    padding-right: 0;
    margin-top: var(--mantine-spacing-xl);
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  line-height: 1;
  margin-bottom: var(--mantine-spacing-md);
  
  @media (max-width: $mantine-breakpoint-sm) {
    text-align: center;
  }

  @media only screen and (min-width: $mantine-breakpoint-sm) and (max-width: $mantine-breakpoint-md) {
    text-align: left;
  }
}

.controls {
  display: flex;
  margin-top: var(--mantine-spacing-xl);
}

.inputWrapper {
  width: 100%;
  flex: 1;
}

.actionButton{
  background: rgba( 255, 255, 255, 1);
  box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.37 );
  border: none;
  transition: background-color 1s ease, color 1s ease;
  color: rgba(203, 81, 228, 1);
}

.actionButton:hover{
  outline: none;
  box-sizing: none;
  background-color: rgba(203, 81, 228, 1);
  color: rgba(255, 255, 255, 1);
}

.group{
  @media (max-width: $mantine-breakpoint-sm) {
    justify-content: center;
  }
}

.profilePict{
  object-fit: cover;
  width: 15vw;
  border-radius: var(--mantine-radius-md);
  
  @media (max-width: $mantine-breakpoint-sm) {
    width: 50vw;
    height: 50vw;
    border-radius: var(--mantine-radius-md);
  }

  @media only screen and (min-width: $mantine-breakpoint-sm) and (max-width: $mantine-breakpoint-md) {
    width: 28vw;
    height: 28vw;
  }
  
}

.content{
  text-align: left;
  
  @media (max-width: $mantine-breakpoint-sm) {
    text-align: center;
  }

  @media only screen and (min-width: $mantine-breakpoint-sm) and (max-width: $mantine-breakpoint-md) {
    text-align: left;
  }
}

.bodyWrapper{
  display: flex;
  flex-direction: row;
  gap: 2vw;
  
  @media (max-width: $mantine-breakpoint-sm) {
    gap: 4vw;
    flex-direction: column;
    align-items: center;
  }

  @media only screen and (min-width: $mantine-breakpoint-sm) and (max-width: $mantine-breakpoint-md) {
    flex-direction: row;
    gap: 4vw;
    align-items: start;
  }
}